/*Copied from https://github.com/portiaportia/react-housing/blob/forms/src/styles/dialog.css*/

@import url("https://www.w3schools.com/w3css/4/w3.css");

#add-album {
  color: white;
  background: var(--primary-color);
  width: 100px;
  border: none;
}

#dialog-section {
  position: relative;
}

#add-dialog {
  display: block;
}

#add-property-form {
  display: flex;
  flex-direction: column;
}

#delete-content {
  margin-bottom: 10px;
}

#img-prev {
  max-width: 100%;
}

#delete-dialog button {
  margin-right: 10px;
}

/* animation help from Stack Overflow (https://stackoverflow.com/questions/74165073/css-animation-to-make-div-appear-smoothly-from-bottom) */
@keyframes smooth-appear {
  to {
    opacity: 1;
  }
}
#add-dialog {
  position: fixed;
  bottom: -100%;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: smooth-appear 1s ease forwards;
}

@media only screen and (min-width: 600px) {
  #img-prev-section {
    flex: 1;
  }

  #img-prev {
    max-width: 100%;
  }

  #img-upload {
    flex: 6;
  }
}
