/* Main-content album */

#falbum {
  padding: 10px;
  margin: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: teal;
  border-radius: 10px;
  min-width: fit-content;
}

#album-image {
  width: 200px;
}

#falbum ul {
  padding-left: 0;
  list-style-type: none;
}

#falbum li {
  text-decoration: none;
}

#falbum h2 {
  text-align: left;
}

@media only screen and (min-width: 900px) {
}
